
body 
{
    background-color: #fcfce9;
}

h1 
{
    color: #fcef02;
    background-color: #000000;
	margin-left: 20px;
}

h3 
{
    color: #fcef02;
    background-color: #000000;
	margin-left: 20px;
}